<nav class="header" style="z-index: 1;">
	<ul class="navigation_links">
		<div class="menu">
			<a href="/"> <img src="/static/img/favicon.ico" width="32px" height="32px" style="image-rendering: pixelated;"> </a>
			<li class="navigation_link"><a href="/about">About</a></li>
		</div>
	</ul>
</nav>
<hr>